<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register page</h1>
    <form action="/users/register" method="post">
        <input type="text" name="name" placeholder="enter name">
        <input type="text" name="email" placeholder="enter email">
        <input type="text" name="password" placeholder="enter password">
        <button>REgister</button>
    </form>
</body>
</html>